.container {
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
}

.card {
  background-color: grey;
  text-align: center;
  width: 245px;
  height: 342px;
  margin-top: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.deck-container {
  width: 200px;
  background-color: grey;
  margin-top: 5px;
  justify-content: center;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
}


.deck-items { 
  background-color: ghostwhite;
  width: 80%;
  height: 30px;
  margin-top: 10px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 50px;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .nav {
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .nav {
    flex-direction: column;
  }
}

.nav-links {
  padding: 1rem;
  text-decoration: none;
}

.btn {
  border-radius: 5px;
}

.footer {
  display: flex;
  flex-shrink: 0;
  background-color: grey;
}

.card.login {
  margin-top: 20%;
}