.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex:1;
}

.pokemonCard {
    padding-bottom: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
}

.add-card {
    background-color: #E8CA29;
    
}

.centered {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}