.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
}

.pokemonCard {
    padding-bottom: 1em;
    margin-bottom: 1em;
    min-width: 30%;
    max-width: 30%;
    flex: 1;
}
